@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    margin: auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  
  .title {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 1rem;
    display: flex;
  }
  
  .input-field {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
  }
  
  .reset-btn {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #ff6347;
    color: #fff;
  }
  
  .loading-container {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  
  .error-message {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
  }
  
  .prediction-container {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
  }
  