@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0px;
  margin: 0px;
}

.pokemon-container.dark-mode {
  background-color: #252b48;
  color: #fff;
}

.pokemon-container.dark-mode .pokemon-item {
  border: 1px solid #666;
}

.PokeMonFinderText {
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokemon-finder-text {
  margin: 0;
  flex: 1;
  text-align: center;
}

.toggle-icon {
  cursor: pointer;
  padding: 10px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.pokemon-item {
  flex: 1 1 calc(25% - 2rem); /* Four items per row */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  transition: transform 0.3s ease;
  text-align: center;
}

.pokemon-item:hover {
  transform: scale(1.05);
}

.pokemon-image {
  width: 100%;
  max-width: 100px;
  margin: 0 auto 10px;
  display: block;
}

.PokemonName {
  font-size: 20px;
}

@media (max-width: 992px) {
  .pokemon-item {
    flex: 1 1 calc(33.333% - 2rem); /* Three items per row */
  }
}

@media (max-width: 768px) {
  .pokemon-item {
    flex: 1 1 calc(50% - 2rem); /* Two items per row */
  }
}

@media (max-width: 480px) {
  .pokemon-item {
    flex: 1 1 100%; /* One item per row */
  }
}

.pokemon-detail {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.pokemon-detail img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.pokemon-detail h2,
.pokemon-detail h3 {
  text-align: center;
}

.pokemon-detail ul {
  list-style: none;
  padding: 0;
}
